body {
  padding-top: 40px;
}

/* User Story #9: My portfolio should have at least one media query. */
@media (max-width: 480px) {
  body {
    padding-top: 20px;
    font-size: 10pt;
  }
}

/* User Story #11: The navbar should always be at the top of the viewport. */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #005500;
}

#navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

#navbar ul li {
  padding: 0px 14px 0px 14px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-family: Courier, sans-serif;
}

/* User Story #10: The height of the welcome section should be equal to the height of the viewport. */
#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects {
  
}

#profile-link {
  
}

.project-tile {
  
}